 .action {
  margin-bottom: 2rem;
} 

.todo button {
  margin-right: 10px;
}

.todos-normal {
  background: #e3f2fd;
}

.todos-urgent {
  background: #ffebee
}

.todos-faible {
  background: #fffde7;
}

.done {
  color: lightslategray;
}

.status-done{
  margin-bottom: 30px;
  margin-top: 30px;
}

.form-title{
  padding-bottom: 10px;
}

.add-todo {
  border: solid 1px #A6A6A6;
  border-radius: 3px;
  padding: 1.2rem;
}

.badge-item {
  background: #26A69A;
  width: 30px;
  height: 30px;
  padding: 10px;
  margin-left: 10px;  
  color: white; 
}


